@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  appearance: none;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

body {
  height: 100vh;
  user-select: none;
  .container {
    display: flex;
    height: 100%;
    justify-items: stretch;
    justify-content: stretch;
    aside {
      width: 290px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 2px 0px 5px rgba($color: #000000, $alpha: 0.2);
      z-index: 5;
      background: #f9fafc;
      .top {
        width: 100%;
        background: #f9fafc;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 1.4rem;
        border-bottom: 2px solid lightgray;
        flex-direction: column;
        padding: 31.29px 23px;
        gap: 4.29px;
        .logo {
          width: 80px;
        }
      }
      .sidebar {
        display: flex;
        flex-direction: column;
        position: relative;
        flex-grow: 1;
        width: 290px;
        .close {
          align-items: flex-end;
          margin: 19px 17px 0 auto;
          background: #ffffff;
          box-shadow: 0px 0px 5px rgba($color: black, $alpha: 0.2);
          border-radius: 17px;
          height: 44px;
          min-height: 44px;
          width: 44px;
          display: grid;
          align-items: center;
          justify-content: center;
          span {
            height: 24px;
            width: 24px;
            // border: 2px solid;
          }
        }
        .close:hover {
          box-shadow: 0px 0px 10px rgba($color: black, $alpha: 0.3);
          transition: 1000ms all ease;
        }
        a {
          display: flex;
          font-style: normal;
          height: 24px;
          margin: 0 38px;
          margin-bottom: 54px;
          line-height: 21px;
          align-items: center;
          color: #302e2c;
          gap: 20px;
          span {
            height: 24px;
            width: 24px;
          }
          h3 {
            text-overflow: ellipsis;
            font-size: 18px;
            font-weight: 500;
            white-space: nowrap;
          }
        }
        .active {
          background: #302e2c;
          color: #ffffff;
          margin: 0 17px;
          border-radius: 100px;
          height: 53px;
          gap: 0;
          span {
            height: 24px;
            width: 24px;
            margin: 15px 20px 14px 20px;
          }
          h3 {
            margin: 16px 0;
            height: auto;
          }
          img {
            margin-left: auto;
            margin-right: 24px;
          }
        }
        a:last-child {
          margin-top: auto;
        }
      }
    }
    .topNav {
      position: fixed;
      flex-direction: column;
      height: 80px;
      z-index: 4;
      background: #0f90ba;
      width: 100vw;
    }
    main {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      height: 100%;
      .topNavPlaceHolder {
        height: 80px;
      }
      .bottom {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        .left {
          width: 290px;
          display: flex;
          padding-top: 112px;
          flex-direction: column;
          border-right: 2px solid rgba(#979795, 0.5);
          background: #ffffff;
          .mainSection {
            .title {
              display: flex;
              align-items: center;
              color: #302e2c;
              font-weight: 600;
              margin-bottom: 20px;
              h3 {
                margin: 16px 0;
                height: auto;
                text-overflow: ellipsis;
                font-size: 20px;
                white-space: nowrap;
                font-weight: 500;
              }
              span {
                width: 24px;
                height: 24px;
                margin: 0 20px 0 20px;
              }
            }
            .subTitle {
              padding-left: 51px;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              margin-bottom: 20px;
              line-height: 27px;
              color: #302e2c;
              align-items: center;
              gap: 0;
              display: flex;
            }
            .active {
              background: #0f90ba;
              height: 42px;
              color: #ffffff;
              border-radius: 100px;
              margin-left: 29px;
              padding-left: 22px;
              margin-right: 10px;
              align-self: center;
              justify-self: center;
            }
          }
          .title2 {
            align-items: center;
            display: flex;
            color: #302e2c;
            font-weight: 600;
            margin-bottom: 30px;
            margin-top: 47px;
            margin-bottom: 20px;
          }
          .subTitle2 {
            margin-bottom: 20px;
            padding-left: 51px;
            font-family: "Poppins";
            font-weight: 500;
            font-style: normal;
            font-size: 18px;
            line-height: 27px;
            color: #302e2c;
            align-items: center;
            display: flex;
          }
          span {
            height: 24px;
            margin: 0 20px 0 20px;
            width: 24px;
          }
          .arrow {
            margin-top: 4px;
            margin-left: 23px;
          }
        }
        .payment {
          flex-grow: 1;
          .electronic {
            border-bottom: 1px solid rgba(#979795, 0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 35px 275px 70px 210px;
            p {
              font-size: 28px;
              font-weight: 600;
              line-height: 34px;
              align-items: center;
            }
            p:nth-child(2) {
              font-style: normal;
              font-weight: 500;
              align-self: flex-start;
              font-size: 24px;
              line-height: 20px;
              margin-top: 101px;
              margin-bottom: 32px;
              display: flex;
              align-items: center;
              color: #302e2c;
            }
            .filds {
              display: flex;
              flex-direction: column;
              gap: 20px;
              width: 100%;
              .form {
                display: flex;
                width: 100%;
                align-items: center;
                label {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 20px;
                  color: #0F90BA;
                }
                sb50 {
                  width: 50px;
                }
                input {
                  height: 50px;
                  border-radius: 25px;
                  flex-grow: 4;
                  padding: 0 20px;
                  line-height: 19.09px;
                  font-weight: 500;
                  font-size: 16px;
                  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
                  transition: all 374ms ease;
                }
              }
            }
          }
          .method {
            position: relative;
            p {
              font-weight: 600;
              font-size: 22px;
              line-height: 26px;
              color: #302e2c;
              text-align: center;
              margin-top: 49px;
            }
            .icon:last-child {
              position: absolute;
              top: 0;
              right: 0;
              margin-right: 33px;
              display: flex;
              color: #46d362;
              box-shadow: 0px 0px 3.27607px rgb(0 0 0 / 25%);
              border-radius: 50%;
              padding: 5px;
            }
          }
          .table {
            margin-top: 21px;
            display: flex;
            table {
              width: 100%;
              margin-left: 21px;
              margin-right: 28px;
              border-collapse: collapse;
              box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
              tr:nth-child(1) {
                background: #0f90ba;
              }
              tr {
                display: flex;
                align-items: center;
                height: 65px;
                th:nth-child(1),
                td:nth-child(1) {
                  padding-left: 121px;
                  max-width: 564px;
                  width: 564px;
                  min-width: 564px;
                }
                th:nth-child(2),
                td:nth-child(2) {
                  flex-grow: 2;
                  width: 100%;
                }
                th {
                  color: #ffffff;
                  font-size: 20px;
                  text-align: left;
                }
                td {
                  color: #96a9ba;
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
